tambak/Service References/addUsertoRoleServiceReference/addUsertoRoleSVC1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addUserToRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intendedUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intendedRole" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUserToRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>